<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - MyParadeManager.WebApp</title>
    <script type="importmap"></script>

    <link rel="stylesheet" href="~/lib/@@tabler/core/dist/css/tabler.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">

    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/MyParadeManager.WebApp.styles.css" asp-append-version="true"/>
</head>
<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary" role="navigation">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">My Parade Manager</a>

        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbar-mobile"
                aria-controls="navbar-mobile"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-mobile">
            <div class="navbar-nav">
                <a class="nav-link" aria-current="page" href="/Account/Login">Login</a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <main role="main">
        @RenderBody()
    </main>
</div>

<script src="~/lib/@@tabler/core/dist/js/tabler.min.js"></script>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
@* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>